<div class="pa-4">
    <MudText Typo="Typo.h6" Color="Color.Primary">Training Labs</MudText>
</div>

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="errors" Icon="Icons.Material.Filled.BugReport">Lab 1: Debugging</MudNavLink>
    <MudNavLink Href="unittest" Icon="Icons.Material.Filled.Assignment">Lab 2: Unit Tests</MudNavLink>
    <MudNavLink Href="readme" Icon="Icons.Material.Filled.Description">Lab 3: README</MudNavLink>
    <MudNavLink Href="apilab" Icon="Icons.Material.Filled.Api">Lab 4: API Lab</MudNavLink>
    <MudNavLink Href="refactor" Icon="Icons.Material.Filled.Transform">Lab 5: Refactoring Lab</MudNavLink>
</MudNavMenu>
